@import "style/variables.scss";

.container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  padding: 30%;

  @include small {
    padding: 16px;
  }
}
.newUrlForm {
  width: 100%;
}
.close {
  margin-left: $margin * 2;
}
.title {
  margin-bottom: 1em;
}
