@import 'style/variables.scss';

.link {
  appearance: none;
  text-decoration: underline;
  color: var(--secondary-color-10);
  font-weight: 600;
  // margin-top: $margin;
  border: 0;
  text-align: left;
  padding: 0;
  cursor: pointer;
  background: transparent;
  margin-top: 0;
  &.small {
    display: inline-block;
    font-size: 14px;
  }
  &:hover {
    color: var(--secondary-color-100);
  }
}
.button {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: 0 2px 2px var(--shadow-color);
  @extend %karla;
  color: var(--light-text-color);
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  // height: 40px;
  cursor: pointer;
  text-align: center;
  appearance: none;
  text-decoration: none;
  min-width: 90px;
  padding: 8px 12px;
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  // &:hover {
  //   background: var(--secondary-color-10);
  // }
  &.secondary {
    background: var(--background-color);
    border: 2px solid var(--background-color-alt);
    color: var(--text-color);
    box-shadow: none;
  }
  &.big {
    width: 100%;
    height: 80px;
    font-size: 24px;
    padding: 0 $margin * 2;
  }
}
