@import "style/variables.scss";

.menu {
  position: fixed;
  bottom: $margin * 2;
  right: $margin * 2;
  @include small {
    position: absolute;
    bottom: auto;
    top: $margin * 2;
    right: $margin;
  }
  &.open {
    background: var(--background-color);
    padding: $margin;
    border: 2px solid var(--background-color-alt);
    border-radius: 4px;
  }
}
.close {
  margin-left: auto;
}
.option {
  margin-bottom: $margin * 2;
}
.indicators {
  margin-bottom: $margin;
  margin-top: $margin / 2;
}
.indicator {
  cursor: pointer;
  border: 0;
  font-weight: 700;
  color: var(--text-color);
  background: var(--background-color-alt);
  border: 1px solid var(--background-color-alt);
  margin: 4px;
  border-radius: 999em;
  min-width: 30px;
  min-height: 30px;
  &:hover {
    border: 1px solid var(--shadow-color);
  }
  &.selected {
    background: var(--primary-color);
    color: var(--light-text-color);
  }
}
.indicatorButton {
  border-radius: 4px;
  min-height: 30px;
  padding: 0 10px;
}
