@import "style/variables.scss";

.header {
  // padding-bottom: $margin * 15;
  // padding-top: $margin * 4;
  padding: 0;
  padding-top: $margin * 2;
  padding-bottom: $margin * 2;
  .logo {
    margin-bottom: 112px;
  }
  .logoImage {
    width: 50px;
    height: 50px;
  }
  a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }
  .logo {
    margin: 0;
    display: flex;
    font-size: $normal-text;
    color: red;

    // @extend %title;
  }
}
