@import "style/variables.scss";
.articleContainer {
  margin: 100px auto 100px auto;
}
// .image {
//   width: calc(100% + 64px * 2);
//   // margin-bottom: 64px;
//   max-height: 200px;
//   object-fit: cover;
//   margin-left: -64px;
//   margin-right: -64px;
//   border-radius: 0 0 10px 10px;
//   opacity: 0.4;
// }
.title {
  background: var(--background-color);
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: bold;
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
}
.description {
  font-size: 1em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.more {
  display: flex;
  margin-top: 2em;
  margin-bottom: 1em;
  align-items: center;
  color: #666;
  font-size: 0.7em;
  .url {
    color: #666;
    font-style: italic;
    color: inherit;
    margin-left: auto;
  }
}
.content {
  // font-size: 1em;
  // line-height: 1.3em;
  // max-width: 36em;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 120px;
  ol,
  ul {
    font-size: 1em;
    line-height: 1.3em;
    padding-left: 32px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  p {
    font-size: 1em;
    line-height: 1.3em;
    margin-top: 1em;
  }
  pre {
    margin-top: 2em;
    margin-bottom: 2em;
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
