body.theme-light {
  --text-color: #888;
  --background-color: #fff;
  --background-color-alt: #f4f4f4;
  --primary-color: #e17055;
  --light-text-color: #fafafa;
  --shadow-color: rgba(0, 0, 0, 0.15);
}
body.theme-dark {
  --text-color: rgb(224, 224, 224);
  --background-color: rgb(26, 26, 26);
  --background-color-alt: rgb(45, 45, 45);
  --primary-color: #d79459;
  --primary-color-alt: #b68b8b;
  --light-text-color: rgb(224, 224, 224);
  --shadow-color: rgba(0, 0, 0, 0.15);
}
body.theme-sepia {
  --text-color: #888;
  --background-color: #f5eddd;
  --background-color-alt: #ebdec3;
  --primary-color: #e17055;
  --light-text-color: #fafafa;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  color: var(--text-color);
}
body * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin:0
  line-height: 24px;
}
.logo {
  margin-top: 40px;
  width: 50px;
}
#loading {
  text-align: center;
}

.button {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: 0 2px 2px var(--shadow-color);
  color: var(--light-text-color);
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  appearance: none;
  text-decoration: none;
  min-width: 90px;
  padding: 8px 12px;
}

.button.secondary {
  background: var(--background-color);
  border: 2px solid var(--background-color-alt);
  color: var(--text-color);
  box-shadow: none;
}

#buttons {
  margin-top: 8px;
}

#article {
  padding: 16px 16px;
  flex-direction: column;
  margin: 16px;
  border-radius: 8px;
  background: var(--background-color-alt);
  border: 1px solid var(--background-color-alt);
}
