:root {
  --text-color: #666;
  --background-color: rgb(245, 237, 221);
  --text-color: #888;
  // --background-color: #fff;
  --background-color-alt: rgb(243, 228, 197);
  --primary-color: #e17055;
  --primary-color-alt: rgba(#fff, #fff, #fff, 0.9);
  --light-text-color: #fafafa;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

body.theme-light {
  --text-color: #888;
  --background-color: #fff;
  --background-color-alt: #f4f4f4;
  --primary-color: #e17055;
  --light-text-color: #fafafa;
  --shadow-color: rgba(0, 0, 0, 0.15);
}
body.theme-dark {
  --text-color: rgb(224, 224, 224);
  --background-color: rgb(26, 26, 26);
  --background-color-alt: rgb(45, 45, 45);
  --primary-color: #d79459;
  --primary-color-alt: #b68b8b;
  --light-text-color: rgb(224, 224, 224);
  --shadow-color: rgba(0, 0, 0, 0.15);
}
body.theme-sepia {
  --text-color: #888;
  --background-color: #f5eddd;
  --background-color-alt: #ebdec3;
  --primary-color: #e17055;
  --light-text-color: #fafafa;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

$margin: 16px;
$border-radius: 16px;

$max-mobile-width: 800px;
$min-large-width: 1250px;
$min-huge-width: 1500px;

%karla {
  font-family: 'Karla', sans-serif;
}
%openSans {
  font-family: 'Open Sans', sans-serif;
}

%title {
  @extend %karla;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: var(--text-color);
}

%titleSection {
  @extend %karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-color);
}

%subtitle {
  @extend %karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
}
%subtitleSection {
  @extend %karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

%text {
  @extend %openSans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

%textSmall {
  @extend %openSans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
}

@mixin small {
  @media screen and (max-width: #{$max-mobile-width}) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{$min-large-width}) {
    @content;
  }
}
@mixin huge {
  @media screen and (min-width: #{$min-huge-width}) {
    @content;
  }
}
