@import "style/variables.scss";
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  width: 100%;
  height: 300px;
  &.expand {
    height: 100vh;
    width: 100vw;
  }
}
