@import 'style/variables.scss';

.page {
  margin: 0 auto;
  max-width: 72em;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  &.homepage {
    max-width: unset;
    padding: 0;
    padding-left: 10vh;
    padding-right: 10vh;
    @include small {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.back {
  position: fixed;
  top: $margin * 2;
  left: $margin * 2;
  @include small {
    left: $margin;
  }
}
.header {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
  @include small {
    margin-top: 32px;
  }
  align-items: center;
  .right {
    margin-left: auto;
    @include small {
      span {
        display: none;
      }
    }
  }
  h1 {
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      @extend %titleSection;
    }
    img {
      width: 50px;
      height: auto;
      margin-right: 15px;
    }
    @extend %titleSection;
    line-height: 1em;
    @include small {
      span {
        display: none;
      }
    }
  }
}
